html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.container {
  position: relative;
  width: 80%;
  max-width: 1600px;
  min-width: 245px;
  margin: 0 auto;
  padding: 0 2%;
  box-sizing: border-box;  }
 .row {
 clear: both;
 }
 .row div {
 margin-bottom: 1%;
 text-align: center;
 }
 img {
	max-width: 100%;
 }
  /* For Small Phones */
/* Max one column per row*/
.boney-columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
  }
.pad {
	display: none;
 }

 /* For Large Phones */
/* Max two columns per row*/
@media (min-width: 498px) and (max-width: 766px){
.container {
    width: 80%; }
.boney-columns {
    width: 45%; }
.boney-columns {
    margin-left: 2%; }
.four.boney-columns:nth-child(3)  {
	margin-left: 25%; }
.twelve.boney-columns  {
	width: 92%; margin-left: 2%; }
.pad {
	display: none; }
}

 /* For Tablet */
 /* Max four columns per row + rough, equal sizes for larger width columns **WARNING - uneven columns become even here** */
@media (min-width: 767px) {
.container {
    width: 100%; }
.boney-columns {
    width: 22.6%; margin-left: 2%; }
.two.boney-columns:nth-child(5) {
	margin-left: 26.6%; }
.four.boney-columns {
	width: 30.8%; }
.five.boney-columns, .six.boney-columns, .seven.boney-columns {
	width: 47.2%; }
.eight.boney-columns {
	width: 63.7%; }
.nine.boney-columns, .ten.boney-columns, .eleven.boney-columns  {
	width: 71.8%;  }
.twelve.boney-columns  {
	width: 96.5%; margin-left: 2%; }
.pad {
	display: none; }
}

/* For Desktop */
@media (min-width: 992px) {
  .container {
    width: 100%; }
  .pad {
	display: block; }
  .boney-columns {
    margin-left: 1%; }
  .boney-columns:first-child {
    margin-left: 2%; }
  .one.boney-columns {
	width: 7.1%; }
  .two.boney-columns {
	width: 15.2%; }
  .two.boney-columns:nth-child(5) {
	margin-left: 1%; }
  .three.boney-columns {
	width: 23.3%; }
  .four.boney-columns {
	width: 31.4%; }
  .five.boney-columns {
	width: 39.3333333333%; }
  .six.boney-columns  {
	width: 47.6%; }
  .seven.boney-columns  {
	width: 55.9%; }
  .eight.boney-columns  {
	width: 63.8%; }
  .nine.boney-columns {
	width: 71.9%; }
  .ten.boney-columns {
	width: 80%; }
  .eleven.boney-columns {
	width: 88.1%; }
  .twelve.boney-columns {
	width: 96.2%; margin-left: 2%; }
}
